In [1]:
import pandas as pd

In [3]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-02.csv.gz'

In [4]:
df = pd.read_csv(url)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707649 entries, 0 to 1707648
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 91.2+ MB

In [8]:
len(df)

1707649

In [10]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00037,2019-02-01 00:08:44,2019-02-01 00:23:35,264.0,265.0,NaN,B00037
1,B00037,2019-02-01 00:27:51,2019-02-01 00:32:54,264.0,265.0,NaN,B00037
2,B00037,2019-02-01 00:18:30,2019-02-01 00:25:45,264.0,265.0,NaN,B00037
3,B00037,2019-02-01 00:43:15,2019-02-01 00:48:29,264.0,265.0,NaN,B00037
4,B00037,2019-02-01 00:01:45,2019-02-01 00:09:13,264.0,265.0,NaN,B00037

In [11]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['dropOff_datetime'] = pd.to_datetime(df['dropOff_datetime'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707649 entries, 0 to 1707648
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         datetime64[ns]
 2   dropOff_datetime        datetime64[ns]
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 91.2+ MB

In [15]:
for i in range(12):
    month = '0' + str(i+1)
    month = month[-2:]

    df = pd.read_parquet(f'fhv_tripdata_2019-{month}.parquet')
    df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23143222 entries, 0 to 23143221
Data columns (total 8 columns):
 #   Column                  Non-Null Count     Dtype
---  ------                  --------------     -----
 0   Unnamed: 0              23143222 non-null  int64
 1   dispatching_base_num    23143219 non-null  object
 2   pickup_datetime         23143222 non-null  datetime64[ns]
 3   dropOff_datetime        23143222 non-null  datetime64[ns]
 4   PUlocationID            21323952 non-null  float64
 5   DOlocationID            22478513 non-null  float64
 6   SR_Flag                 5379452 non-null   float64
 7   Affiliated_base_number  20811894 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 1.4+ GB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707649 entries, 0 to 1707648
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1707649 non-null  int64
 1   dispatching_base_num    1707649 non-null  object
 2   pickup_datetime         1707649 non-null  datetime64[ns]
 3   dropOff_datetime        1707649 non-null  datetime64[ns]
 4   PUlocationID            1707648 non-null  float64
 5   DOlocationID            1707648 non-null  float64
 6   SR_Flag                 6 non-null        float64
 7   Affiliated_base_number  1700542 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 104.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475564 entries, 0 to 1475563
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1475564 non-null  int64
 1   dispatching_base_num    1475564 non-null  object
 2   pickup_datetime         1475564 non-null  datetime64[ns]
 3   dropOff_datetime        1475564 non-null  datetime64[ns]
 4   PUlocationID            1474460 non-null  float64
 5   DOlocationID            1474460 non-null  float64
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  1468253 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 90.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1937844 entries, 0 to 1937843
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1937844 non-null  int64
 1   dispatching_base_num    1937844 non-null  object
 2   pickup_datetime         1937844 non-null  datetime64[ns]
 3   dropOff_datetime        1937844 non-null  datetime64[ns]
 4   PUlocationID            1934507 non-null  float64
 5   DOlocationID            1934507 non-null  float64
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  1924025 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 118.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2073045 entries, 0 to 2073044
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              2073045 non-null  int64
 1   dispatching_base_num    2073045 non-null  object
 2   pickup_datetime         2073045 non-null  datetime64[ns]
 3   dropOff_datetime        2073045 non-null  datetime64[ns]
 4   PUlocationID            2073045 non-null  float32
 5   DOlocationID            2073045 non-null  float32
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  2062023 non-null  object
dtypes: datetime64[ns](2), float32(2), float64(1), int64(1), object(2)
memory usage: 110.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2009886 entries, 0 to 2009885
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              2009886 non-null  int64
 1   dispatching_base_num    2009886 non-null  object
 2   pickup_datetime         2009886 non-null  datetime64[ns]
 3   dropOff_datetime        2009886 non-null  datetime64[ns]
 4   PUlocationID            2009886 non-null  float32
 5   DOlocationID            2009886 non-null  float32
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  1994917 non-null  object
dtypes: datetime64[ns](2), float32(2), float64(1), int64(1), object(2)
memory usage: 107.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1947739 entries, 0 to 1947738
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1947739 non-null  int64
 1   dispatching_base_num    1947739 non-null  object
 2   pickup_datetime         1947739 non-null  datetime64[ns]
 3   dropOff_datetime        1947739 non-null  datetime64[ns]
 4   PUlocationID            1936684 non-null  float64
 5   DOlocationID            1947575 non-null  float64
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  1932213 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 118.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880407 entries, 0 to 1880406
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1880407 non-null  int64
 1   dispatching_base_num    1880407 non-null  object
 2   pickup_datetime         1880407 non-null  datetime64[ns]
 3   dropOff_datetime        1880407 non-null  datetime64[ns]
 4   PUlocationID            1824380 non-null  float64
 5   DOlocationID            1880356 non-null  float64
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  1868229 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 114.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248514 entries, 0 to 1248513
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1248514 non-null  int64
 1   dispatching_base_num    1248514 non-null  object
 2   pickup_datetime         1248514 non-null  datetime64[ns]
 3   dropOff_datetime        1248514 non-null  datetime64[ns]
 4   PUlocationID            1171677 non-null  float64
 5   DOlocationID            1221838 non-null  float64
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  1230456 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 76.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897493 entries, 0 to 1897492
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1897493 non-null  int64
 1   dispatching_base_num    1897493 non-null  object
 2   pickup_datetime         1897493 non-null  datetime64[ns]
 3   dropOff_datetime        1897493 non-null  datetime64[ns]
 4   PUlocationID            1888937 non-null  float64
 5   DOlocationID            1889314 non-null  float64
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  1880538 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 115.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1879137 entries, 0 to 1879136
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1879137 non-null  int64
 1   dispatching_base_num    1879137 non-null  object
 2   pickup_datetime         1879137 non-null  datetime64[ns]
 3   dropOff_datetime        1879137 non-null  datetime64[ns]
 4   PUlocationID            1872602 non-null  float64
 5   DOlocationID            1873618 non-null  float64
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  1864105 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 114.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2044196 entries, 0 to 2044195
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              2044196 non-null  int64
 1   dispatching_base_num    2044196 non-null  object
 2   pickup_datetime         2044196 non-null  datetime64[ns]
 3   dropOff_datetime        2044196 non-null  datetime64[ns]
 4   PUlocationID            2002852 non-null  float64
 5   DOlocationID            2030247 non-null  float64
 6   SR_Flag                 0 non-null        float64
 7   Affiliated_base_number  2030388 non-null  object
dtypes: datetime64[ns](2), float64(3), int64(1), object(2)
memory usage: 124.8+ MB

In [16]:
df = pd.read_parquet('./fhv_tripdata_2019-01.parquet')
df['DOlocationID'].unique()

array([ nan, 265.,  52., 237., 236.,  85., 246., 224.,  14., 233.,  87.,
       229.,  16.,  15.,  82.,  92., 252.,  70., 223., 162.,  75., 238.,
        98.,  74.,  61., 206., 156., 211., 257.,  65.,  39., 181., 129.,
       179., 173.,  71.,  56., 113., 161., 220.,  88., 141.,   7., 263.,
        19.,  45.,  72.,   3., 254.,  81., 259.,  51.,   0., 244., 247.,
       169.,  83.,  73.,  93., 192.,  67., 135.,   6., 221.,  48., 144.,
       112., 145., 225.,  54.,  78., 243.,  79.,  41., 210., 126., 168.,
        42., 119., 146.,  26., 205., 196.,  37.,  17.,  62., 262., 142.,
       134., 251., 245., 186.,  36.,  77., 130., 213., 250., 116.,  80.,
       235., 242.,  69., 248., 167., 182., 118.,  68.,  25., 255.,  31.,
       258., 241., 131., 228.,  55.,  33., 133., 230., 158.,  95., 170.,
       188., 136., 177.,  89., 226., 148., 106., 203.,  66., 195., 107.,
       185.,  47., 232., 239.,  97., 164., 151., 174.,  11., 234., 100.,
       163.,  49., 231., 202., 193., 149., 165.,  91., 155.,  76.,  63.,
       189., 198., 200.,  90.,  35., 160.,  29.,  22., 214., 143., 132.,
       121., 178.,  13., 147., 127.,  60., 140., 166.,  50., 261.,  21.,
       152., 114.,  38.,  10.,  28.,  64., 139., 176.,  20., 217., 249.,
       240., 159.,  94.,  18., 208., 123., 197., 256., 157.,  24., 227.,
        43., 222., 137.,  40.,   9.,  44., 204., 216., 190., 125., 209.,
       219.,   4., 260.,  23.,  86., 138., 183., 122., 172., 218.,  27.,
       171., 117., 108., 212., 115.,  59., 201., 150., 102.,  32., 124.,
       180.,  53., 215., 184., 109., 153., 187.,   1.,  96., 191.,   5.,
        84.,  46.,  34., 175., 101., 128., 111.,  58., 120., 154.,   8.,
        57., 194., 207.,  30.,  12.,  99., 110., 253., 264., 105., 199.,
         2., 104.])